@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
height: 100vh;
width: 100vw;
}
body{
background: url(../imagens/fundo-madeira.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: top center;
}
main{
height: 100vh;
position: relative;
}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png);
}
section#redes {
    
    text-align: right;
    
}
.logo{
    margin: 5px;
 width: 80px;
    height: 80px;
   border: 1px black solid;
   border-radius: 40px;
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width:  269px;
    height: 471px;
    border: none;
    
}
section#redes img{
    box-shadow: 2px 2px 10px black;
}
section#redes img:hover{
    border: 2px solid grey;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
}
